body {
  font-family: 'Karla', sans-serif;
  font-size: large;
}

a {
  color: #2e4054;
}

a:hover {
  color: #ba4533;
}

.nav {
  background-color: rgba(0, 0, 0, .5);
}

.navbar {
  background: none;
}
#nav a {
  color: #e5dada;
}

.logo {
  color: #ba4533;
}

#myPage {
  background-color: #2e4054;
}

#myPage a {
  color: #e5dada;
}

#myPage a:hover {
  color: #ba4533;
}


#container .shadow {
  width: 100%;
}

/*img{
    width: 100%;
    height: 400px;
    background-image: url('images/Img.jpg');
    background-size: cover;
}*/
.shadow a {
  text-decoration: none;
}

table {
  width: 100%;
  text-align: center;
}

table, td {
  /*border: 1px solid black;
*/
}

footer {
  background-color: #2e4054;
  color: #e5dada;
}

footer button {
  text-transform: uppercase;
}

footer #logo {
  text-decoration: none;
  color: #ba4533;
}

footer .btn {
  border: none;
}

p {
  font-size: small;
}

#copyR {
  background-color: #3a5068;
  padding: 15px;
}

.card-img-cover {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card {
  display: block;
  top: 0px;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden

}

.card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 10px rgba(38, 38, 38, 0.2);
  top: -2px;
  border: 1px solid #cccccc;
  background-color: white;
}

.bg-cover {
  min-height: 40vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
