
.card-img-top {
  height: 20vw;
  object-fit: cover;
}

.card-img-suite {
  height: 10vw;
  object-fit: cover;
}

.nounderline {
  text-decoration: none !important
}

* {
  box-sizing: border-box;
}


.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 2vw;

  padding: 0 15px;
}

.travel-image {
  height: 20vw;
  object-fit: cover;
}

.box-1 {box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sidebar {
  height: 100vh;
}
.img-left {
  flex-direction: row;
}

